version: 2
updates:
  # Enable version updates for Docker
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '04:00'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    reviewers:
      - 'sakilahmmad71'
    assignees:
      - 'sakilahmmad71'
    labels:
      - 'dependencies'
      - 'docker'

  # Enable version updates for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '04:00'
    commit-message:
      prefix: 'ci'
      include: 'scope'
    reviewers:
      - 'sakilahmmad71'
    assignees:
      - 'sakilahmmad71'
    labels:
      - 'dependencies'
      - 'github-actions'
